@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

body {
    background: #fff;
    color: #000;
    overflow-x: hidden;
}

a {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    border: none;
    vertical-align: top;
}

td, th {
    vertical-align: middle !important;
}

.main-sidebar {
    position: fixed;
}
.message {
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}
.message.success {
    background-color: #00a65a !important;
}
.message.error {
    background-color: #dd4b39 !important;
}
.button-group .form-group {
    display: inline-block;
    margin-right: 20px;
}
.content-wrapper .box-result {
    overflow: auto;
}
.toggle-off {
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
    color: #fff !important;
}

/******************************* Login Page **********************************/
.login-image {
    text-align: center;
}
.login-image img {
    width: 70%;
    margin: 40px auto 20px;
}
.login-box .box-header {
    text-align: center;
}
.login-box .text, .login-box .password {
    position: relative;
}
.login-box input.form-control {
    padding-right: 35px;
}
.login-box .text:after, .login-box .password:after {
    content: "\2709";
    font-family: "Glyphicons Halflings";
    position: absolute;
    right: 15px;
    top: 7px;
    color: #555;
}
.login-box .password:after {
    content: "\e033";
}

/************************ Order page ************************/
.order_wrapper {
    height: 100%;
    overflow: auto;
}
.product_wrapper {
    float: left;
    overflow: auto;
    height: 300px;
}
.product_detail {
    text-align: center;
    cursor: pointer;
}
#search_product_name {
    margin-bottom: 20px;
}
.input_number {
    width: 70px;
}
.cart_payment {
    background: #ececec;
    width: 100%;
    margin-top: 50px;
}
.cart_wrapper {
    height: 403px;
    overflow: auto;
}
.customer_search {
    position: relative;
}
.customer_search_result {
    width: 100%;
    position: absolute;
    top: 34px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow: auto;
}
.customer_search_result li {
    list-style: none;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px dashed #ccc;
}
.customer_search_result li:hover {
    cursor: pointer;
}
.customer_search_result li:last-of-type {
    border: none;
}
.customer_info {
    display: none;
}
#add_new_customer {
    margin-right: 30px;
}